.page.p2 {
  display: flex;
  align-items: center;

  h5 {
    small {
      span {
        display: inline-block;
      }
    }
  }

}

.page.p2 p,
.page.p4 p {
  margin: 50px -5px 0 -5px;
  a {
    font-family:'fira_sansheavy';
    color: #333;
    font-size: 50px;
    display: inline-block;
    margin: 0 5px;

    &:hover {
      text-decoration: none;
    }
  }
  span {
    font-family:'fira_sansheavy';
    color: #333;
    font-size: 50px;
    display: inline-block;
    margin: 0 10px;
  }

  @media (max-width: 600px) {
    a {
      font-size: 28px;
    }
    span {
      display: none;
    }
  }
}